.img-side__main-image {
    width: 40rem;
    height: 30rem;
    border-radius: 1.7rem;
  }

  @media (max-width: 1020px) {
    .img-side__main-image {
      margin-bottom: 3.5rem;
    }
  }
  @media (max-width: 460px) {
    .img-side__main-image {
      width: 90%;
      height: auto;
    }
  }
  .education {
    background-color: white;
    padding: 15rem 0;
  }
  @media (max-width: 1020px) {
    .education {
      padding: 8rem 0;
    }
  }
  
  .education-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1020px) {
    .education-content {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  
  .text-sid {
    padding-right: 1.5rem;
    margin: 7rem;
  }
  @media (max-width: 1020px) {
    .text-sid {
      max-width: 54rem;
      margin: 0 auto;
    }
  }
  @media (max-width: 400px) {
    .text-sid {
      padding-right: 0;
    }
  }
  .text-sid span {
    -webkit-text-decoration: underline #147efb;
            text-decoration: underline #147efb;
  }
  .text-sid h4 {
    font-size: 1.9rem;
    color: #147efb;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .text-sid h3 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    margin-bottom: 2rem;
    color: #2d2e32;
  }
  .text-sid p {
    font-size: 1.7rem;
    font-family: "Mulish", sans-serif;
    color: #767676;
    font-weight: 600;
    line-height: 1.8;
  }
  
  .img-sid {
    position:relative;
  }
